.login,
.signup {
  height: 100vh;
  width: 100vw;
  background: radial-gradient(
        65.24% 47.39% at 58.3% 116.11%,
        rgba(227, 119, 159, 0.536) 0%,
        rgba(241, 127, 168, 0.392) 27.08%,
        rgba(252, 150, 187, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(
        74.63% 85.28% at 110.14% 100%,
        rgba(1, 178, 189, 0.6) 7.29%,
        rgba(3, 188, 200, 0.282) 58.85%,
        rgba(47, 217, 227, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(
        46.7% 58.61% at 0% 71.33%,
        rgba(255, 162, 149, 0.672) 10.42%,
        rgba(255, 169, 141, 0.144) 63.02%,
        rgba(255, 204, 188, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(
        37.29% 39.66% at 18.23% 111.11%,
        rgba(217, 47, 88, 0.32) 17.71%,
        rgba(225, 79, 132, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    linear-gradient(327.46deg, #e3e0ff 74.38%, #ffffff 116.67%);

  main {
    margin-top: 12vh;
    display: flex;
    justify-content: center;

    .container {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .titles {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        color: #211c70;

        h2 {
          font-weight: 700;
          font-size: 40px;
          line-height: 100%;
        }

        p {
          font-weight: 400;
          font-size: 18px;
          color: #6b67aa;

          &#account-error {
            color: #e15838;
          }
        }
      }
      .box {
        display: flex;
        flex-direction: column;
        width: 525px;
        gap: 8px;

        .password-wrap {
          display: flex;
          flex-direction: column;

          .forgot-password {
            text-align: right;
            color: #211c70;
            font-weight: 700;
            font-size: 16px;

            &:hover {
              text-decoration: none;
              color: #6b67aa;
            }
          }
        }
      }
      button {
        margin-top: 40px;
        width: 100%;
        height: 50px;
        background: #8e8edb;
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 0.1em;
        color: #ffffff;
        border: none;
        border-radius: 33px;
        cursor: pointer;

        &:hover {
          background-color: #6b67aa;
          border: 2px solid #16dcf4;
        }
      }
    }
  }
}
