.slot-picker {
  display: grid;
  gap: 10px;
  grid-template-columns: 1.5fr auto 1.5fr 1fr;
  align-items: center;

  .click-to-add {
    color: #3c8cd7;
    cursor: pointer;
    justify-self: center;
  }

  @media screen and (max-width: 992px) {
    width: 27.5rem;
    grid-template:
      'left text right'
      'location location location'/ 1fr auto 1fr;

    .time-picker {
      &.left {
        grid-area: left;
      }

      &.right {
        grid-area: right;
      }
    }

    p {
      grid-area: text;
    }

    .location-input,
    .click-to-add {
      grid-area: location;
      width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    width: 19.5rem;
  }

  @media screen and (max-width: 600px) {
    width: 18rem;
  }

  @media screen and (max-width: 480px) {
    width: 100%;
    gap: 1rem;

    input {
      width: 100%;
      padding: 0.5rem;
    }

    fieldset {
      width: 100%;
    }
  }
}
