.dashboard {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;

  background: linear-gradient(0deg, rgba(235, 209, 209, 0.4), rgba(235, 209, 209, 0.4)),
    radial-gradient(
        65.24% 47.39% at 58.3% 116.11%,
        rgba(227, 119, 159, 0.536) 0%,
        rgba(241, 127, 168, 0.392) 27.08%,
        rgba(252, 150, 187, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(
        74.63% 85.28% at 110.14% 100%,
        rgba(1, 178, 189, 0.6) 7.29%,
        rgba(3, 188, 200, 0.282) 58.85%,
        rgba(47, 217, 227, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(
        46.7% 58.61% at 0% 71.33%,
        rgba(255, 162, 149, 0.672) 10.42%,
        rgba(255, 169, 141, 0.144) 63.02%,
        rgba(255, 204, 188, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(
        37.29% 39.66% at 18.23% 111.11%,
        rgba(217, 47, 88, 0.32) 17.71%,
        rgba(225, 79, 132, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    linear-gradient(327.46deg, #e3e0ff 74.38%, #ffffff 116.67%);

  main {
    width: 100vw;
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;

    .container {
      width: 100%;
      max-width: 1440px;
      padding: 2rem 0;
      margin: 0 100px;
      display: flex;

      .left {
        flex: 3;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .profile-wrap {
          display: grid;
          place-items: center;
          gap: 1rem;

          h2 {
            font-weight: 600;
            font-size: 1.5rem;
            line-height: 100%;
            padding-top: 0.5rem;
          }

          p {
            font-family: 'Roboto';
            color: rgba(0, 0, 0, 0.5);
            // letter-spacing: 0.02rem;
            display: flex;
            gap: 10px;
            align-items: center;
          }

          .avatar-wrap {
            display: grid;
            place-items: center;
            width: 95px;
            height: 95px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.7);
            cursor: pointer;
            position: relative;

            &:hover {
              img {
                opacity: 0.5;
              }
              .change-avatar-icon {
                opacity: 1;
              }
            }

            img {
              width: 85px;
              height: 85px;
              object-fit: cover;
              border-radius: 50%;
              box-sizing: content-box;
              opacity: 1;
              transition: opacity 0.2s ease-in-out;
            }

            .change-avatar-icon {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              opacity: 0;
              transition: opacity 0.2s ease-in-out;
              display: grid;
              place-items: center;
            }
          }
        }

        .action-wrap {
          margin-top: 40px;
          margin-bottom: 60px;

          button {
            width: 14rem;
            height: 3.5rem;
            background-color: #8e8edb;
            border: none;
            border-radius: 33px;
            font-weight: 600;
            font-size: 1.25rem;
            letter-spacing: 0.1rem;
            color: #ffffff;
            cursor: pointer;

            &:hover {
              background-color: #6b67aa;
              border: 2px solid #16dcf4;
            }
          }
        }

        .menu-wrap {
          width: 70%;
          h3 {
            color: #211c70;
            font-weight: 600;
            font-size: 25.1765px;
            margin-bottom: 0.5rem;
          }

          .option-wrap {
            p {
              margin: 1rem 0 1rem 2rem;
              display: flex;
              align-items: center;
              gap: 10px;
              font-weight: 400;
              font-size: 20px;
              color: rgba(0, 0, 0, 0.5);
              cursor: pointer;

              &:hover,
              &.selected {
                font-weight: 600;
                color: #211c70;
              }
            }
          }
        }
      }

      .right {
        flex: 11;
        display: grid;
        grid-template-rows: auto 1fr;
        gap: 1rem;

        .event-list-section {
          background: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
            radial-gradient(
                65.24% 47.39% at 58.3% 116.11%,
                rgba(227, 119, 159, 0.536) 0%,
                rgba(241, 127, 168, 0.392) 27.08%,
                rgba(252, 150, 187, 0) 100%
              )
              /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
            radial-gradient(
                74.63% 85.28% at 110.14% 100%,
                rgba(1, 178, 189, 0.6) 7.29%,
                rgba(3, 188, 200, 0.282) 58.85%,
                rgba(47, 217, 227, 0) 100%
              )
              /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
            radial-gradient(
                46.7% 58.61% at 0% 71.33%,
                rgba(255, 162, 149, 0.672) 10.42%,
                rgba(255, 169, 141, 0.144) 63.02%,
                rgba(255, 204, 188, 0) 100%
              )
              /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
            radial-gradient(
                37.29% 39.66% at 18.23% 111.11%,
                rgba(217, 47, 88, 0.32) 17.71%,
                rgba(225, 79, 132, 0) 100%
              )
              /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
            linear-gradient(327.46deg, #e3e0ff 74.38%, #ffffff 116.67%);
          border-radius: 20px;
          padding: 2rem 1.8rem;
          display: grid;
          grid-template-rows: auto auto 1fr;
          overflow-y: scroll;
          //   height: 75%;

          h2 {
            font-weight: 700;
            font-size: 25px;
            color: #211c70;
          }

          .filters {
            display: flex;
            justify-content: start;
            gap: 3rem;
            margin: 0 10px;
            border-bottom: 1px solid #d6d6d6;

            p {
              padding: 0.75rem 0.5rem;
              cursor: pointer;
              font-weight: 500;
              font-size: 1.125rem;
              color: #a2a2a2;

              &:hover,
              &.selected {
                font-weight: 600;
                color: #000000;
                border-bottom: 3px solid #000;
              }
            }
          }

          .event-list-wrap {
            height: 100%;
            overflow: scroll;
            padding-top: 1.6rem;

            .event-list {
              list-style: none;
              display: flex;
              flex-direction: column;
              gap: 1rem;
            }
          }
        }
      }
    }
  }
}
