.slot-par-list-dialog {
  h3 {
    font-size: 0.9rem;
    font-weight: 700;
    padding: 1rem 0 0 2rem;
  }

  .par-list-wrap {
    .par-list {
      list-style: none;
      padding: 0 0.8rem;
      margin-bottom: 0.8rem;
    }
  }
}
