.home {
  background: radial-gradient(
        44.93% 27.95% at 70.49% 48.79%,
        rgba(227, 119, 159, 0.536) 0%,
        rgba(241, 127, 168, 0.392) 27.08%,
        rgba(252, 150, 187, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(
        35.28% 46.36% at 106.53% 36.04%,
        rgba(0, 159, 169, 0.6) 7.29%,
        rgba(3, 188, 200, 0.348) 58.85%,
        rgba(47, 217, 227, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(
        47.99% 17.32% at 41.15% 61.29%,
        rgba(217, 47, 88, 0.32) 17.71%,
        rgba(225, 79, 132, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(
        50.21% 38.25% at 0% 55.88%,
        rgba(255, 162, 149, 0.672) 10.42%,
        rgba(255, 169, 141, 0.144) 63.02%,
        rgba(255, 204, 188, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    linear-gradient(327.46deg, #e3e0ff 74.38%, #ffffff 116.67%);

  main {
    width: 100vw;
    display: flex;
    justify-content: center;

    .container {
      width: 100%;
      max-width: 1440px;
      padding: 100px 190px;

      display: grid;
      place-items: center;
      gap: 10rem;

      .top,
      .bottom {
        display: flex;
        width: 100%;
        gap: 15px;

        .text-wrap {
          flex: 1;

          display: flex;
          flex-direction: column;
          justify-content: center;

          h2 {
            font-weight: 700;
            font-size: 70px;
            color: #211c70;
            line-height: 100%;
          }

          p {
            font-weight: 400;
            font-size: 18px;
            color: #6b67aa;
            line-height: 153%;
            margin: 15px 90px 45px 0;
          }

          button {
            width: 270px;
            height: 50px;
            border: none;
            background: #8e8edb;
            border-radius: 33px;
            cursor: pointer;

            font-weight: 600;
            font-size: 20px;
            letter-spacing: 0.1em;
            color: #ffffff;

            &:hover {
              background: #6b67aa;
              border: 2px solid #16dcf4;
            }
          }
        }

        .img-wrap {
          flex: 1.5;
          height: 590px;
          background-color: #000;
        }
      }
    }
  }

  footer {
    hr {
      width: 100vw;
      height: 10px;
      background: linear-gradient(
        270deg,
        #6dc1dc 7.07%,
        #a690fc 23.77%,
        #fc96bb 53.38%,
        #ffc397 84.72%
      );
      border-radius: 8px;
    }
  }
}
