.navbar {
  // position: fixed;
  // top: 0;
  height: 70px;
  width: 100vw;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #fff;
  // background: linear-gradient(327.46deg, #e3e0ff 74.38%, #ffffff 116.67%);

  .wrap {
    height: 100%;
    width: 100%;
    margin: 0 100px;
    max-width: 1440px;

    display: flex;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;

      .logo {
        color: #16dcf4;
        font-weight: 700;
        font-size: 30px;
        cursor: pointer;
      }
    }

    .right {
      display: flex;
      align-items: center;

      .grey-text {
        color: #4d4c51;
      }

      .dark-text {
        color: #211c70;
      }

      .bold-text {
        font-weight: 700;
        font-size: 16px;
        line-height: 28px;
      }

      .default-cursor {
        cursor: default;
      }

      span {
        font-family: 'Roboto', sans-serif;
        margin-right: 30px;
        font-size: 16px;
      }

      .link {
        span:hover {
          text-decoration: underline;
        }
      }

      button {
        display: grid;
        place-items: center;

        width: 110px;
        height: 40px;

        border-radius: 33px;
        cursor: pointer;

        &.login-btn {
          background-color: transparent;
          border: 2px solid rgba(0, 0, 0, 0.2);

          &:hover {
            background-color: rgba(255, 255, 255, 0.5);
          }
        }

        &.signup-btn {
          margin-left: 10px;
          background-color: #211c70;
          border: none;
          color: #ffffff;

          &:hover {
            background: #6b67aa;
          }
        }
      }

      .signup-text:hover {
        color: #6b67aa;
      }
    }
  }
}
