.slot-item {
  background: #ffffff;
  border: 1px solid #5a5a5a;
  border-radius: 10px;
  height: 4.4rem;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 1rem;
  align-items: center;
  padding: 0 1.2rem;

  &.selectable {
    cursor: pointer;

    &:hover {
      background: linear-gradient(0deg, rgba(84, 84, 84, 0.2), rgba(84, 84, 84, 0.2)), #ffffff;
      border: 2px solid #16dcf4;
    }
  }

  &.selected {
    background: linear-gradient(0deg, rgba(84, 84, 84, 0.2), rgba(84, 84, 84, 0.2)), #ffffff;
    border: 2px solid #16dcf4;
  }

  .time-wrap,
  .location-wrap {
    font-weight: 500;
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    color: #38374d;
  }

  .votes-wrap {
    display: flex;
    justify-content: flex-end;

    .avatar {
      width: 35px;
      height: 35px;
    }

    .css-sxh3gq-MuiAvatar-root-MuiAvatarGroup-avatar {
      width: 35px;
      height: 35px;
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 0 1rem;

    .time-wrap,
    .location-wrap {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 480px) {
    .time-wrap,
    .location-wrap {
      font-size: 0.9rem;
    }

    .votes-wrap {
      .avatar {
        width: 30px;
        height: 30px;
      }

      .css-sxh3gq-MuiAvatar-root-MuiAvatarGroup-avatar {
        width: 30px;
        height: 30px;
        font-size: 0.9rem;
      }
    }
  }

  @media screen and (max-width: 320px) {
  }
}
