.join-form-dialog {
  .text-wrap {
    text-align: center;
    padding-bottom: 1rem;

    h2 {
      color: #211c70;
      padding: 3rem 7rem 1rem 7rem;
    }

    .error {
      font-size: 1rem;
      color: #e15838;
    }
  }

  .inputs-wrap {
    width: 80%;
    align-self: center;
    display: grid;
    margin-bottom: 1.5rem;
  }

  .btn-wrap {
    display: flex;
    justify-content: center;

    button {
      width: 40%;
      height: 40px;
      margin-bottom: 2rem;
      font-weight: 600;
      font-size: 1.1rem;
      letter-spacing: 0.1em;
      border: none;
      border-radius: 33px;
      cursor: pointer;

      &.join-btn {
        background: #8e8edb;
        color: #ffffff;

        &:hover {
          background-color: #6b67aa;
        }
      }

      &.join-another-btn {
        background-color: rgba(142, 142, 219, 0.2);
        border: 2px solid #8e8edb;
        color: #6b67aa;

        &:hover {
          background-color: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
}
