.event-item {
  height: 90px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr auto;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(123, 97, 255, 0.1);
  border-radius: 10px;
  align-items: center;

  &:hover {
    border: 2px solid #6b6bee;
  }

  .wrap {
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 0.5fr 1fr;
    align-items: center;
    gap: 3rem;
    padding: 0 1rem;
    cursor: pointer;

    .title-wrap {
      display: flex;
      gap: 1rem;
      align-items: center;

      img {
        width: 45px;
        height: 45px;
        border-radius: 10px;
      }

      h3 {
        font-weight: 500;
        font-size: 1.25rem;
      }
    }

    .status-wrap {
      display: flex;
      align-items: center;
      gap: 5px;

      .icon {
        &.Pending {
          color: #e15838;
        }

        &.Closed {
          color: #cacaca;
        }
      }

      p {
        font-size: 1rem;
      }
    }

    .slots-wrap {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      color: rgba(0, 0, 0, 0.8);
      padding-left: 2rem;

      p {
        font-size: 0.9rem;
      }

      .participants-wrap {
        display: flex;
        align-items: center;
        gap: 2px;
      }

      .voted-slots {
        padding-left: 0.2rem;
      }
    }
  }

  @media screen and (max-width: 720px) {
    height: 80px;

    .wrap {
      grid-template-columns: 2fr 1fr;

      .status-wrap {
        display: none;
      }

      .slots-wrap {
        padding: 0;
      }
    }
  }

  @media screen and (max-width: 480px) {
    .wrap {
      grid-template-columns: 1fr;

      .title-wrap {
        gap: 0.5rem;

        h3 {
          font-size: 1rem;
        }
      }

      .slots-wrap {
        display: none;
      }
    }
  }
}
