.signup {
  .titles {
    p#server-error {
      color: #e15838;
    }
  }

  .submitted {
    h2 {
      margin-bottom: 2rem;

      &.verify-title {
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }

    p {
      font-size: 18px;

      &.reminder {
        margin-top: 1rem;
      }

      &#success-alert {
        color: #211c70;
        font-weight: 700;
      }

      &#fail-alert {
        color: #e15838;
        font-weight: 700;
      }

      &.verify-message {
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }

    .clickable {
      text-decoration-line: underline;
      font-weight: 700;
      font-size: 16px;
      color: #211c70;
      cursor: pointer;
    }
  }
}
